@import url('https://fonts.googleapis.com/css?family=Open+Sans:300i,400');

.App {
  text-align: center;
}

/* ==========================================================================
   Style: Her kan du gjøre som du vil;
   ========================================================================== */
h3{
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}

section {
  margin: 20px;
}

label {
  display: block
}

/*
  Layout til diven som holder formet.
*/

div.card {
  width: 400px;
  height: 500px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  background-color: whitesmoke;
  overflow: auto;
}

div.text {
  margin-top: 30px;
  text-align: center;
}

/*
Hvis noen av feltene ikke er korrekt utfylt vises feltene med rødt for å indikere at noe er gærent, pluss at en feilmelding kommer tilsyne
*/
.errorDiv {
 height: 10px;
}

.errorMessage {
  line-height: 10px;
  font-size: smaller;
  color: red;
}

/*
* Sentrerer skjemaet på skjermen
 */
.flex-container {
  display: flex;
  margin: 150px;
  justify-content: center;
  align-items: center;
}

/*
* Endringer på layout i formet for de ulike feltene
*/
input[type="text"],input[type="email"],input[type="tel"],input[type="email"],input[type="number"],input[type="comment"] {
  margin-top: 10px;
  outline: none;
  border: none;
  background-color: whitesmoke;
  font-family: 'Open sans', sans-serif;
  width: 300px;
  height: 30px;
  color: #232b2b;
  border-bottom: 2px solid lightgrey;
}

textarea {
  margin-top: 20px;
  outline: none;
  border: none;
  background-color: whitesmoke;
  font-family: 'Open sans', sans-serif;
  width: 300px;
  height: 60px;
  color: black;
  border-bottom: 2px solid lightgrey;
}

/*
Sort strek under aktiv feltet
*/
input[type="text"]:focus,input[type="email"]:focus,input[type="tel"]:focus,input[type="email"]:focus,input[type="number"]:focus,input[type="comment"]:focus, textarea:focus {
  color: black;
  outline: none;
  border-bottom: 2px solid black;
}

/*
* Hvis noen av feltene ikke er riktig utfylt blir det rød farge på teksten
*/
input.error{
  margin-top: 10px;
  outline: none;
  border: none;
  background-color: whitesmoke;
  font-family: 'Open sans', sans-serif;
  width: 300px;
  height: 30px;
  color: red;
  border-bottom: 2px solid red;
}

/*
*Knappen hvis den er aktiv
*/
button:enabled {
  margin-top: 20px;
  background: lightblue;
  border: none;
  height: 35px;
  width: 120px;
  border-radius: 5px 5px 5px 5px;
  transition: 0.2s ease;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
}

button:hover:enabled,button:focus:enabled {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
  opacity: 0.9;
  transition: 0.2s ease;
  outline: none;
}

button:hover:disabled, button:focus:disabled {
  transition: 0.2s ease;
  outline: none;
  cursor: auto;
}

/*
* Knappen hvis den er deaktivert
*/
button:disabled {
  margin-top: 20px;
  background: lightgrey;
  border: none;
  height: 35px;
  width: 120px;
  border-radius: 5px 5px 5px 5px;
  transition: 0.2s ease;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
}
