/* ==========================================================================
   Style: Her kan du gjøre som du vil;
   ========================================================================== */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300i,400');
h3{
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}

section {
    margin: 20px;
}

label {
    display: block
}

.input-form {
    width: 300px;
    height: 300px;
    border-radius: 30px;
    padding: 20px;
    background-color: #999999;
    box-shadow: #222222;
}

div.card {
    width: 400px;
    height: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    background-color: whitesmoke;
    overflow: auto;
}

div.text {
    margin-top: 30px;
    text-align: center;
}

.flex-container {
    display: flex;
    margin: 150px;
    justify-content: center;
    align-items: center;
}

input[type="text"],input[type="email"],input[type="tel"],input[type="email"],input[type="number"],input[type="comment"] {
    margin-top: 20px;
    outline: none;
    border: none;
    background-color: whitesmoke;
    font-family: 'Open sans', sans-serif;
    width: 300px;
    height: 30px;
    color: black;
    border-bottom: 2px solid lightgrey;
}

textarea {
    margin-top: 20px;
    outline: none;
    border: none;
    background-color: whitesmoke;
    font-family: 'Open sans', sans-serif;
    width: 300px;
    height: 60px;
    color: black;
    border-bottom: 2px solid lightgrey;
}

input[type="text"]:focus,input[type="email"]:focus,input[type="tel"]:focus,input[type="email"]:focus,input[type="number"]:focus,input[type="comment"]:focus, textarea:focus {
    color: black;
    outline: none;
    border-bottom: 2px solid black;
}

button {
    margin-top: 20px;
    background: lightblue;
    border: none;
    height: 35px;
    width: 120px;
    border-radius: 5px 5px 5px 5px;
    transition: 0.2s ease;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}

button:hover,button:focus {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 0.9;
    transition: 0.2s ease;
    outline: none;
}
